[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggsignif"]
	path = ggsignif
	url = https://github.com/const-ae/ggsignif
	shallow = true
	registered = true
[submodule "ggupset"]
	path = ggupset
	url = https://github.com/const-ae/ggupset
	shallow = true
	registered = true
[submodule "mixdir"]
	path = mixdir
	url = https://github.com/const-ae/mixdir
	shallow = true
	registered = true
[submodule "tidygenomics"]
	path = tidygenomics
	url = https://github.com/const-ae/tidygenomics
	shallow = true
	registered = true
[submodule "glmGamPoi"]
	path = glmGamPoi
	url = https://github.com/const-ae/glmgampoi
	shallow = true
	registered = true
[submodule "transformGamPoi"]
	path = transformGamPoi
	url = https://github.com/const-ae/transformgampoi
	shallow = true
	registered = true
