[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "einsum"]
	path = einsum
	url = https://github.com/const-ae/einsum
[submodule "ggsignif"]
	path = ggsignif
	url = https://github.com/const-ae/ggsignif
[submodule "ggupset"]
	path = ggupset
	url = https://github.com/const-ae/ggupset
[submodule "mixdir"]
	path = mixdir
	url = https://github.com/const-ae/mixdir
[submodule "tidygenomics"]
	path = tidygenomics
	url = https://github.com/const-ae/tidygenomics
